<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>JKMacros</string>
	<key>ordering</key>
	<array>
		<string>E01E18B3-2914-49EE-867B-AADEA090999B</string>
	</array>
	<key>uuid</key>
	<string>D00938D7-3395-4272-81AF-DC34D88B41FA</string>
</dict>
</plist>
